<form #medform = "ngForm" (ngSubmit)="onRegistrati(medform)">
  <mat-form-field>
    <input matInput type="text" name="nome" placeholder="Nome" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="cognome" placeholder="Cognome" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="numeroFisso" placeholder="Numero di telefono fisso" ngModel>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="numeroCellulare" placeholder="Numero di telefono cellulare" ngModel>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="specialistica" placeholder="Specialistica" ngModel>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Password" ngModel>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Registrati</button>
</form>


<div *ngIf="errorMessage" id="error-banner">{{ errorMessage }}</div>
