
<span *ngIf="richieste.length == 0; else elseBlock">Non ci sono nuove richieste</span>


<ng-template #elseBlock>
<table>
  <tr>
    <th>No</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let richiesta of richieste; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ richiesta.nome }}</td>
    <td>{{ richiesta.cognome }}</td>
    <div>
      <button (click)="onAccetta(richiesta.localId)">Accetta</button>
      <button (click)="onRifiuta(richiesta.localId)">Rifiuta</button>
    </div>
  </tr>
</table>
</ng-template>
