<form #pazform = "ngForm" (ngSubmit)="onAggiungiPaziente(pazform)">
  <mat-form-field>
    <input matInput type="text" name="nome" placeholder="Nome" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="cognome" placeholder="Cognome" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="numeroCellulare" placeholder="Numero telefonico" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="date" name="dataNascita" placeholder="Data di Nascita" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" ngModel required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Registrati</button>
</form>
