<table>
  <tr>
    <th>No</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Specialistica</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Richiesta</th>
  </tr>
  <tr *ngFor="let medico of medici; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ medico.nome }}</td>
    <td>{{ medico.cognome }}</td>
    <td>{{ medico.specialistica }}</td>
    <td>{{ medico.email }}</td>
    <td>{{ medico.telefono }}</td>
    <button (click)="onRichiestaIscrizione(medico.localId)" class="richiesta">Iscriviti</button>
  </tr>
</table>

